
{% include 'navbar.html'%}

{% import 'bootstrap/wtf.html' as wtf %}
{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}

{% block styles%}
{{ super() }}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">

{% endblock %}

{% block content %}
        
        
<div class="row">
                <div class="card">
                                <div class="card-body text-center">
                                <h4><a>{{event.title}}</a></h4>
                                  <h5 class="card-text text-center" style="font-family: 'Great Vibes', cursive; font-size: 32px">{{event.description}}.</h5>
                                </div>
                </div>


                <div class="container">
                                <div class="row">
                                        <div  style="width:520px;height:300px">
                                                {{wtf.quick_form(form)}}
                                        </div>
                                </div>
                        </div>
                        

        <div class="container">
                <div class="col-md-12">
                        <h4 style="color: black; text-align: center;text-decoration:none">Comments for this posts are:</h4>
                        {{ macro.displayComment(comment) }}

                </div>
                 
        </div>
        
</div>



	
{% endblock %}