{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}

{% block styles%}
{{ super() }}
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Playfair+Display&display=swap" rel="stylesheet">
<link href="{{url_for('static',filename='css/index.css')}}" rel="stylesheet">
{% endblock %}

{% block content %}

<h2 style="color: black;text-align: center; font-family: 'Great Vibes', cursive; font-size:52px;">Event categories</h3>
  <br>

  <ul>
    <a style=" color:rgb(7, 0, 0); margin-left: 40%; font-family: 'Playfair Display', serif; text-align: center; font-size:32px; margin-right: 5px;"></a>
    
  </ul>
  <br>


  {% for events in event%}
  <div class="row">
    <div class="col-md-12">
      <div class="thumbnail text-center">
        <h2>{{events.title}}</h2>
        <h5 class="card-header">{{events.category}}</h5>
        <div class="card-body">

          <a href="{{url_for('main.upvote', event_id = events.id)}}" class="btn btn-info" style="background-color: black; color: azure;">Likes <span>{{events.upvotes.count()}}</span></a>
          <a href="{{url_for('main.new_comment', event_id = events.id)}}" class="btn btn-info" style="background-color: black; color: azure;">Read more <span>{{events.comments.count()}}</span></a>
          <a href="{{url_for('main.new_comment', event_id = events.id)}}" class="glyphicon glyphicon-comment" style="margin:10px;color: #e5d429"></a>
        
      </div>
    </div>
  </div>
          {% endfor %}


        </div>
      </div>
    </div>

    <ul>
      <a style=" color:rgb(7, 0, 0); margin-left: 40%; font-family: 'Playfair Display', serif; text-align: center; font-size:32px; margin-right: 5px;"
        href="{{url_for('main.new_event')}}"><button type="button">Post Event</button> </a>
    </ul>
        <!-- <div class="row">
            <div class="card">
              <li class="nav-item">
                <a class="navbar-brand" data-toggle="tab" href="#health">Health</a>
                <div class="card-body">
               
              </div>
              </li>
            </div>
            <div class="col-md-3">
              <li class="nav-item">
                <a class="navbar-brand" data-toggle="tab" href="#education">Education</a>
              </li>
            </div>
            <div class="col-md-3">
              <li class="nav-item">
                <a class="navbar-brand" data-toggle="tab" href="#disasters">Disasters</a>
              </li>
            </div>
            <div class="col-md-3">
              <li class="nav-item">
                <a class="navbar-brand" data-toggle="tab" href="#justice">Justice</a>
              </li>
            </div>
        </div> -->



    {% endblock %}