{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}
{% block styles%}
{{ super() }}


<link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">

{% endblock %}
{% block content %}

<div  style="background-image: url(static/photos/pic.png);  background-repeat: no-repeat; background-size: cover; ">
  <div style="text-align: center; font-family: 'Great Vibes', cursive; color: rgb(10, 10, 9); font-size: 22px;"> <br><br><br><br><br><br><br>
    <h1>Charity</h1>
    <p >donate</p>
    <p >&</p>
    <p >save a life</p>
    <br><br><br><br><br><br>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-5">
      <h3 style="text-align:center;border-bottom:1px solid rgb(7, 7, 7);">Who we are!!</h3><br>
      <p style="margin-left:10%;">With Alone, making a solid,
        respectable online platform for your NGOs,
        charity events, campaigns and projects is now easier than ever,
        and customizing it to fit your branding needs or identity is an easy,
        breezy matter which takes minutes at most and not a single line of coding.
        Alone incorporates the world famous Visual Composer premium plugin for you to
        craft your own layouts or modify the different templates included with Alone,
        such as several different homepage styles and inner pages. It’s ready for WooCommerce,
        and even includes a simplified AJAX popup for making donations not only feasible,
        but accessible from day one. Use plugin Chariable with many extensions for you choose
        more gateway payment (Paypal, Stripe, Authorize.Net, PayFast, PayUMoney and others).
        Alone is ready to work right out of the box, and it just might be what you and your
        project need. Try Alone now!
      </p>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-5">
      <br><br>
      <img src="static/photos/hand.jpg" style="width:100%;" alt="img">
    </div>

  </div>
</div>

<div style="margin-top:100px; background-color:black;text-align:center;color:white;height:100px;font-size:18px;padding-top:40px;">
  <p> &copy;2019 copyright | Donations |All Right Reserved </p>
</div>
{% endblock %}